In [1]:
!pip install Khayyam

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: Khayyam in /usr/local/lib/python3.8/dist-packages (3.0.17)

In [2]:
!pip install -r requirements_2.txt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: jupyter==1.0.0 in /usr/local/lib/python3.8/dist-packages (from -r requirements_2.txt (line 1)) (1.0.0)
Requirement already satisfied: jupyterlab==3.5.1 in /usr/local/lib/python3.8/dist-packages (from -r requirements_2.txt (line 2)) (3.5.1)
Requirement already satisfied: flaml==1.0.14 in /usr/local/lib/python3.8/dist-packages (from -r requirements_2.txt (line 3)) (1.0.14)
Requirement already satisfied: xgboost==1.7.2 in /usr/local/lib/python3.8/dist-packages (from -r requirements_2.txt (line 4)) (1.7.2)
Requirement already satisfied: scikit-learn==1.2.0 in /usr/local/lib/python3.8/dist-packages (from -r requirements_2.txt (line 5)) (1.2.0)
Requirement already satisfied: rbo==0.1.2 in /usr/local/lib/python3.8/dist-packages (from -r requirements_2.txt (line 6)) (0.1.2)
Requirement already satisfied: numpy==1.23.5 in /usr/local/lib/python3.8/dist-packages (from -r requirements_2.txt (line 7)) (1.23.5)
Requirement already satisfied: pandas==1.3.4 in /usr/local/lib/python3.8/dist-packages (from -r requirements_2.txt (line 8)) (1.3.4)
Requirement already satisfied: matplotlib==3.6.2 in /usr/local/lib/python3.8/dist-packages (from -r requirements_2.txt (line 9)) (3.6.2)
Requirement already satisfied: seaborn==0.12.1 in /usr/local/lib/python3.8/dist-packages (from -r requirements_2.txt (line 10)) (0.12.1)
Requirement already satisfied: pickle-mixin==1.0.2 in /usr/local/lib/python3.8/dist-packages (from -r requirements_2.txt (line 11)) (1.0.2)
Requirement already satisfied: joblib==1.2.0 in /usr/local/lib/python3.8/dist-packages (from -r requirements_2.txt (line 12)) (1.2.0)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.8/dist-packages (from jupyter==1.0.0->-r requirements_2.txt (line 1)) (7.2.9)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.8/dist-packages (from jupyter==1.0.0->-r requirements_2.txt (line 1)) (7.7.1)
Requirement already satisfied: jupyter-console in /usr/local/lib/python3.8/dist-packages (from jupyter==1.0.0->-r requirements_2.txt (line 1)) (6.1.0)
Requirement already satisfied: notebook in /usr/local/lib/python3.8/dist-packages (from jupyter==1.0.0->-r requirements_2.txt (line 1)) (6.3.0)
Requirement already satisfied: qtconsole in /usr/local/lib/python3.8/dist-packages (from jupyter==1.0.0->-r requirements_2.txt (line 1)) (5.4.0)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.8/dist-packages (from jupyter==1.0.0->-r requirements_2.txt (line 1)) (5.3.4)
Requirement already satisfied: jupyter-server<3,>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (2.3.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.8/dist-packages (from jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (5.2.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (23.0)
Requirement already satisfied: jinja2>=2.1 in /usr/local/lib/python3.8/dist-packages (from jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (3.1.2)
Requirement already satisfied: ipython in /usr/local/lib/python3.8/dist-packages (from jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (7.9.0)
Requirement already satisfied: jupyterlab-server~=2.10 in /usr/local/lib/python3.8/dist-packages (from jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (2.19.0)
Requirement already satisfied: tomli in /usr/local/lib/python3.8/dist-packages (from jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (2.0.1)
Requirement already satisfied: nbclassic in /usr/local/lib/python3.8/dist-packages (from jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (0.5.2)
Requirement already satisfied: tornado>=6.1.0 in /usr/local/lib/python3.8/dist-packages (from jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (6.2)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from flaml==1.0.14->-r requirements_2.txt (line 3)) (1.10.1)
Requirement already satisfied: lightgbm>=2.3.1 in /usr/local/lib/python3.8/dist-packages (from flaml==1.0.14->-r requirements_2.txt (line 3)) (3.3.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn==1.2.0->-r requirements_2.txt (line 5)) (3.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas==1.3.4->-r requirements_2.txt (line 8)) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas==1.3.4->-r requirements_2.txt (line 8)) (2022.7.1)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib==3.6.2->-r requirements_2.txt (line 9)) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib==3.6.2->-r requirements_2.txt (line 9)) (7.1.2)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib==3.6.2->-r requirements_2.txt (line 9)) (4.38.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib==3.6.2->-r requirements_2.txt (line 9)) (1.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib==3.6.2->-r requirements_2.txt (line 9)) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib==3.6.2->-r requirements_2.txt (line 9)) (0.11.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.8/dist-packages (from jinja2>=2.1->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (2.0.1)
Requirement already satisfied: pyzmq>=24 in /usr/local/lib/python3.8/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (25.0.0)
Requirement already satisfied: jupyter-events>=0.4.0 in /usr/local/lib/python3.8/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (0.6.3)
Requirement already satisfied: anyio>=3.1.0 in /usr/local/lib/python3.8/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (3.6.2)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.8/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (0.13.3)
Requirement already satisfied: traitlets>=5.6.0 in /usr/local/lib/python3.8/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (5.7.1)
Requirement already satisfied: websocket-client in /usr/local/lib/python3.8/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (1.5.1)
Requirement already satisfied: nbformat>=5.3.0 in /usr/local/lib/python3.8/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (5.7.3)
Requirement already satisfied: jupyter-server-terminals in /usr/local/lib/python3.8/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (0.4.4)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.8/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (21.3.0)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.8/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (0.16.0)
Requirement already satisfied: send2trash in /usr/local/lib/python3.8/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (1.8.0)
Requirement already satisfied: jupyter-client>=7.4.4 in /usr/local/lib/python3.8/dist-packages (from jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (8.0.3)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.8/dist-packages (from jupyter-core->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (3.0.0)
Requirement already satisfied: requests>=2.28 in /usr/local/lib/python3.8/dist-packages (from jupyterlab-server~=2.10->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (2.28.2)
Requirement already satisfied: importlib-metadata>=4.8.3 in /usr/local/lib/python3.8/dist-packages (from jupyterlab-server~=2.10->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (6.0.0)
Requirement already satisfied: babel>=2.10 in /usr/local/lib/python3.8/dist-packages (from jupyterlab-server~=2.10->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (2.11.0)
Requirement already satisfied: json5>=0.9.0 in /usr/local/lib/python3.8/dist-packages (from jupyterlab-server~=2.10->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (0.9.11)
Requirement already satisfied: jsonschema>=4.17.3 in /usr/local/lib/python3.8/dist-packages (from jupyterlab-server~=2.10->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (4.17.3)
Requirement already satisfied: wheel in /usr/local/lib/python3.8/dist-packages (from lightgbm>=2.3.1->flaml==1.0.14->-r requirements_2.txt (line 3)) (0.38.4)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter==1.0.0->-r requirements_2.txt (line 1)) (1.2.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter==1.0.0->-r requirements_2.txt (line 1)) (1.5.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter==1.0.0->-r requirements_2.txt (line 1)) (4.6.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter==1.0.0->-r requirements_2.txt (line 1)) (6.0.0)
Requirement already satisfied: mistune<3,>=2.0.3 in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter==1.0.0->-r requirements_2.txt (line 1)) (2.0.5)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter==1.0.0->-r requirements_2.txt (line 1)) (0.2.2)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter==1.0.0->-r requirements_2.txt (line 1)) (0.7.2)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter==1.0.0->-r requirements_2.txt (line 1)) (0.7.1)
Requirement already satisfied: pygments>=2.4.1 in /usr/local/lib/python3.8/dist-packages (from nbconvert->jupyter==1.0.0->-r requirements_2.txt (line 1)) (2.6.1)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.8/dist-packages (from notebook->jupyter==1.0.0->-r requirements_2.txt (line 1)) (0.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas==1.3.4->-r requirements_2.txt (line 8)) (1.15.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from ipython->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (2.0.10)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.8/dist-packages (from ipython->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (0.7.5)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.8/dist-packages (from ipython->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (0.18.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.8/dist-packages (from ipython->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (0.2.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.8/dist-packages (from ipython->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.8/dist-packages (from ipython->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (57.4.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from ipywidgets->jupyter==1.0.0->-r requirements_2.txt (line 1)) (3.0.5)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.8/dist-packages (from ipywidgets->jupyter==1.0.0->-r requirements_2.txt (line 1)) (3.6.2)
Requirement already satisfied: notebook-shim>=0.1.0 in /usr/local/lib/python3.8/dist-packages (from nbclassic->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (0.2.2)
Requirement already satisfied: nest-asyncio>=1.5 in /usr/local/lib/python3.8/dist-packages (from nbclassic->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (1.5.6)
Requirement already satisfied: qtpy>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from qtconsole->jupyter==1.0.0->-r requirements_2.txt (line 1)) (2.3.0)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.8/dist-packages (from anyio>=3.1.0->jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (1.3.0)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.8/dist-packages (from anyio>=3.1.0->jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (2.10)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=4.8.3->jupyterlab-server~=2.10->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (3.13.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from jedi>=0.10->ipython->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (0.8.3)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.10->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (5.10.2)
Requirement already satisfied: pkgutil-resolve-name>=1.3.10 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.10->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (1.3.10)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.10->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (0.19.3)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.10->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (22.2.0)
Requirement already satisfied: rfc3339-validator in /usr/local/lib/python3.8/dist-packages (from jupyter-events>=0.4.0->jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in /usr/local/lib/python3.8/dist-packages (from jupyter-events>=0.4.0->jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (0.1.1)
Requirement already satisfied: pyyaml>=5.3 in /usr/local/lib/python3.8/dist-packages (from jupyter-events>=0.4.0->jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (6.0)
Requirement already satisfied: python-json-logger>=2.0.4 in /usr/local/lib/python3.8/dist-packages (from jupyter-events>=0.4.0->jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (2.0.6)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.8/dist-packages (from nbformat>=5.3.0->jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (2.16.2)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.8/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (0.2.6)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.28->jupyterlab-server~=2.10->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (1.24.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.28->jupyterlab-server~=2.10->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (3.0.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.28->jupyterlab-server~=2.10->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (2022.12.7)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.8/dist-packages (from terminado>=0.8.3->jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (0.7.0)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.8/dist-packages (from argon2-cffi->jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (21.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from bleach->nbconvert->jupyter==1.0.0->-r requirements_2.txt (line 1)) (0.5.1)
Requirement already satisfied: uri-template in /usr/local/lib/python3.8/dist-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.10->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (1.2.0)
Requirement already satisfied: jsonpointer>1.13 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.10->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (2.3)
Requirement already satisfied: isoduration in /usr/local/lib/python3.8/dist-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.10->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (20.11.0)
Requirement already satisfied: webcolors>=1.11 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.10->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (1.12)
Requirement already satisfied: fqdn in /usr/local/lib/python3.8/dist-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.10->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (1.5.1)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from argon2-cffi-bindings->argon2-cffi->jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->jupyter-server<3,>=1.16.0->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (2.21)
Requirement already satisfied: arrow>=0.15.0 in /usr/local/lib/python3.8/dist-packages (from isoduration->jsonschema>=4.17.3->jupyterlab-server~=2.10->jupyterlab==3.5.1->-r requirements_2.txt (line 2)) (1.2.3)

In [3]:
import numpy as np
import pandas as pd 
from khayyam import JalaliDatetime
from datetime import timedelta

from flaml import AutoML
from sklearn.metrics import r2_score

In [4]:
df = pd.read_csv('traffic.csv', parse_dates=['DateTime'])

In [5]:
df

                 DateTime  Junction  Car
0     2020-05-02 00:00:00         1   25
1     2020-05-02 01:00:00         1   23
2     2020-05-02 02:00:00         1   20
3     2020-05-02 03:00:00         1   12
4     2020-05-02 04:00:00         1   19
...                   ...       ...  ...
48115 2021-12-30 19:00:00         4   26
48116 2021-12-30 20:00:00         4   55
48117 2021-12-30 21:00:00         4   31
48118 2021-12-30 22:00:00         4   37
48119 2021-12-30 23:00:00         4   27

[48120 rows x 3 columns]

In [6]:
model = AutoML(task='regression', time_budget=60, verbose=0)
train = df.loc[:48000]
test = df.loc[48000:]
model.fit(train.drop('Car', axis=1), train.Car)
y_pred = model.predict(test.drop('Car', axis=1))
r2score = round(r2_score(test.Car, y_pred),2) * 100 
print(f'performance of model is {r2score}%')

performance of model is 20.0%

In [7]:
from khayyam import JalaliDatetime

In [8]:
#TODO: convert gregorian datetime to jalali datatime
df['JalaliDateTime'] = df['DateTime'].apply(lambda y: JalaliDatetime(y))
df

                 DateTime  Junction  Car              JalaliDateTime
0     2020-05-02 00:00:00         1   25  1399-02-13 00:00:00.000000
1     2020-05-02 01:00:00         1   23  1399-02-13 01:00:00.000000
2     2020-05-02 02:00:00         1   20  1399-02-13 02:00:00.000000
3     2020-05-02 03:00:00         1   12  1399-02-13 03:00:00.000000
4     2020-05-02 04:00:00         1   19  1399-02-13 04:00:00.000000
...                   ...       ...  ...                         ...
48115 2021-12-30 19:00:00         4   26  1400-10-09 19:00:00.000000
48116 2021-12-30 20:00:00         4   55  1400-10-09 20:00:00.000000
48117 2021-12-30 21:00:00         4   31  1400-10-09 21:00:00.000000
48118 2021-12-30 22:00:00         4   37  1400-10-09 22:00:00.000000
48119 2021-12-30 23:00:00         4   27  1400-10-09 23:00:00.000000

[48120 rows x 4 columns]

In [9]:
def categorize_hour (hour):
    if hour  < 6:
        return 0
    if hour  < 12:
        return 1
    if hour  < 15:
        return 2
    if hour  < 18:
        return 3
    if hour  < 22:
        return 4
    return 5

In [10]:
#TODO: add hour of record to dateset as a new column named `hour`
df['hour'] =  df['DateTime'].dt.hour.apply(categorize_hour)
df

                 DateTime  Junction  Car              JalaliDateTime  hour
0     2020-05-02 00:00:00         1   25  1399-02-13 00:00:00.000000     0
1     2020-05-02 01:00:00         1   23  1399-02-13 01:00:00.000000     0
2     2020-05-02 02:00:00         1   20  1399-02-13 02:00:00.000000     0
3     2020-05-02 03:00:00         1   12  1399-02-13 03:00:00.000000     0
4     2020-05-02 04:00:00         1   19  1399-02-13 04:00:00.000000     0
...                   ...       ...  ...                         ...   ...
48115 2021-12-30 19:00:00         4   26  1400-10-09 19:00:00.000000     4
48116 2021-12-30 20:00:00         4   55  1400-10-09 20:00:00.000000     4
48117 2021-12-30 21:00:00         4   31  1400-10-09 21:00:00.000000     4
48118 2021-12-30 22:00:00         4   37  1400-10-09 22:00:00.000000     5
48119 2021-12-30 23:00:00         4   27  1400-10-09 23:00:00.000000     5

[48120 rows x 5 columns]

In [11]:
def categorize_day (day):
  if day== "Friday":
    return 1
  else:
    return 0

In [12]:
#TODO: determine whether it is a holiday or not. Add this feature to `df` as a new column named `IsHoliday`
x=df['DateTime'].dt.day_name()
df['IsHoliday'] = x.apply(categorize_day)
df

,DateTime,Junction,Car,JalaliDateTime,hour,IsHoliday
0,2020-05-02 00:00:00,1,25,1399-02-13 00:00:00.000000,0,0
1,2020-05-02 01:00:00,1,23,1399-02-13 01:00:00.000000,0,0
2,2020-05-02 02:00:00,1,20,1399-02-13 02:00:00.000000,0,0
3,2020-05-02 03:00:00,1,12,1399-02-13 03:00:00.000000,0,0
4,2020-05-02 04:00:00,1,19,1399-02-13 04:00:00.000000,0,0
...,...,...,...,...,...,...
48115,2021-12-30 19:00:00,4,26,1400-10-09 19:00:00.000000,4,0
48116,2021-12-30 20:00:00,4,55,1400-10-09 20:00:00.000000,4,0
48117,2021-12-30 21:00:00,4,31,1400-10-09 21:00:00.000000,4,0
48118,2021-12-30 22:00:00,4,37,1400-10-09 22:00:00.000000,5,0
48119,2021-12-30 23:00:00,4,27,1400-10-09 23:00:00.000000,5,0

In [13]:
def categorize_month (mn):
  if mn.month<= 6:
    return 0
  else:
    return 1

In [14]:
df['IsCold']=  df['JalaliDateTime'].apply(categorize_month)

In [15]:
df

,DateTime,Junction,Car,JalaliDateTime,hour,IsHoliday,IsCold
0,2020-05-02 00:00:00,1,25,1399-02-13 00:00:00.000000,0,0,0
1,2020-05-02 01:00:00,1,23,1399-02-13 01:00:00.000000,0,0,0
2,2020-05-02 02:00:00,1,20,1399-02-13 02:00:00.000000,0,0,0
3,2020-05-02 03:00:00,1,12,1399-02-13 03:00:00.000000,0,0,0
4,2020-05-02 04:00:00,1,19,1399-02-13 04:00:00.000000,0,0,0
...,...,...,...,...,...,...,...
48115,2021-12-30 19:00:00,4,26,1400-10-09 19:00:00.000000,4,0,1
48116,2021-12-30 20:00:00,4,55,1400-10-09 20:00:00.000000,4,0,1
48117,2021-12-30 21:00:00,4,31,1400-10-09 21:00:00.000000,4,0,1
48118,2021-12-30 22:00:00,4,37,1400-10-09 22:00:00.000000,5,0,1
48119,2021-12-30 23:00:00,4,27,1400-10-09 23:00:00.000000,5,0,1

In [16]:
addtodf = pd.get_dummies(df['Junction'],prefix='Junc')
addtodf

       Junc_1  Junc_2  Junc_3  Junc_4
0           1       0       0       0
1           1       0       0       0
2           1       0       0       0
3           1       0       0       0
4           1       0       0       0
...       ...     ...     ...     ...
48115       0       0       0       1
48116       0       0       0       1
48117       0       0       0       1
48118       0       0       0       1
48119       0       0       0       1

[48120 rows x 4 columns]

In [17]:
#TODO: one-hot-encode the `Jucntion` column and add 4 columns to `df` with `Junc` prefix 
df = pd.concat([df, addtodf], axis=1)
df.head()

,DateTime,Junction,Car,JalaliDateTime,hour,IsHoliday,IsCold,Junc_1,Junc_2,Junc_3,Junc_4
0,2020-05-02 00:00:00,1,25,1399-02-13 00:00:00.000000,0,0,0,1,0,0,0
1,2020-05-02 01:00:00,1,23,1399-02-13 01:00:00.000000,0,0,0,1,0,0,0
2,2020-05-02 02:00:00,1,20,1399-02-13 02:00:00.000000,0,0,0,1,0,0,0
3,2020-05-02 03:00:00,1,12,1399-02-13 03:00:00.000000,0,0,0,1,0,0,0
4,2020-05-02 04:00:00,1,19,1399-02-13 04:00:00.000000,0,0,0,1,0,0,0

In [18]:
df['JalaliDateTime'] = df['JalaliDateTime'].apply(lambda x: x.date())
df

,DateTime,Junction,Car,JalaliDateTime,hour,IsHoliday,IsCold,Junc_1,Junc_2,Junc_3,Junc_4
0,2020-05-02 00:00:00,1,25,1399-02-13,0,0,0,1,0,0,0
1,2020-05-02 01:00:00,1,23,1399-02-13,0,0,0,1,0,0,0
2,2020-05-02 02:00:00,1,20,1399-02-13,0,0,0,1,0,0,0
3,2020-05-02 03:00:00,1,12,1399-02-13,0,0,0,1,0,0,0
4,2020-05-02 04:00:00,1,19,1399-02-13,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
48115,2021-12-30 19:00:00,4,26,1400-10-09,4,0,1,0,0,0,1
48116,2021-12-30 20:00:00,4,55,1400-10-09,4,0,1,0,0,0,1
48117,2021-12-30 21:00:00,4,31,1400-10-09,4,0,1,0,0,0,1
48118,2021-12-30 22:00:00,4,37,1400-10-09,5,0,1,0,0,0,1
48119,2021-12-30 23:00:00,4,27,1400-10-09,5,0,1,0,0,0,1

In [19]:
df['JalaliDateTime_y'] = df['JalaliDateTime'].apply(lambda x: str(x)[:4])
df['JalaliDateTime_y'] = df['JalaliDateTime_y'].apply(lambda x: int(x))

df['JalaliDateTime_d'] = df['JalaliDateTime'].apply(lambda x: str(x)[-2:])
df['JalaliDateTime_d'] = df['JalaliDateTime_d'].apply(lambda x: int(x))
df

,DateTime,Junction,Car,JalaliDateTime,hour,IsHoliday,IsCold,Junc_1,Junc_2,Junc_3,Junc_4,JalaliDateTime_y,JalaliDateTime_d
0,2020-05-02 00:00:00,1,25,1399-02-13,0,0,0,1,0,0,0,1399,13
1,2020-05-02 01:00:00,1,23,1399-02-13,0,0,0,1,0,0,0,1399,13
2,2020-05-02 02:00:00,1,20,1399-02-13,0,0,0,1,0,0,0,1399,13
3,2020-05-02 03:00:00,1,12,1399-02-13,0,0,0,1,0,0,0,1399,13
4,2020-05-02 04:00:00,1,19,1399-02-13,0,0,0,1,0,0,0,1399,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48115,2021-12-30 19:00:00,4,26,1400-10-09,4,0,1,0,0,0,1,1400,9
48116,2021-12-30 20:00:00,4,55,1400-10-09,4,0,1,0,0,0,1,1400,9
48117,2021-12-30 21:00:00,4,31,1400-10-09,4,0,1,0,0,0,1,1400,9
48118,2021-12-30 22:00:00,4,37,1400-10-09,5,0,1,0,0,0,1,1400,9
48119,2021-12-30 23:00:00,4,27,1400-10-09,5,0,1,0,0,0,1,1400,9

In [20]:
# drop comments column 
df = df.drop(['DateTime','Junction','JalaliDateTime'], axis=1)
df

,Car,hour,IsHoliday,IsCold,Junc_1,Junc_2,Junc_3,Junc_4,JalaliDateTime_y,JalaliDateTime_d
0,25,0,0,0,1,0,0,0,1399,13
1,23,0,0,0,1,0,0,0,1399,13
2,20,0,0,0,1,0,0,0,1399,13
3,12,0,0,0,1,0,0,0,1399,13
4,19,0,0,0,1,0,0,0,1399,13
...,...,...,...,...,...,...,...,...,...,...
48115,26,4,0,1,0,0,0,1,1400,9
48116,55,4,0,1,0,0,0,1,1400,9
48117,31,4,0,1,0,0,0,1,1400,9
48118,37,5,0,1,0,0,0,1,1400,9
48119,27,5,0,1,0,0,0,1,1400,9

**model**

In [21]:
y=  df[['Car']]
x = df.copy()
x.drop(columns= ['Car'], inplace= True)

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, shuffle=True)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.25, shuffle=True)

In [23]:
from sklearn.linear_model import LinearRegression

model =LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_val)

In [24]:
# evaluate your model on validate data
from sklearn.metrics import r2_score
r2_score(y_val, y_pred)

0.7229812060142917

In [26]:
y_pred = model.predict(X_test)

In [27]:
# evaluate your model on test data
r2_score(y_test, y_pred)

0.7330714914183845